body {
    color: #616f77;
    font-size: 14px;
    line-height: 1.42857143;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -ms-overflow-style: scrollbar;
}

.page.login {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    padding: 60px 10px;
    background: #3f4e62;
}

.logo h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.login .box {
    width: 420px;
    padding: 15px;
    background: #FFF;
    margin: 40px auto 0;
}

.header h2 {
    font-size: 30px;
}

.footer {
    padding: 15px;
    margin: 20px -15px -15px;
}

.text-white {
    color: #FFF;
}

.text-light-red {
    color: #e05d6f;
}

.text-green-sea {
    color: #16a085;
}

.bg-slate-gray {
    background: #495a72;
}

.text-light {
    font-weight: 300 !important;
}

.text-center {
    text-align: center;
}

.button.upper {
    font-size: 12px;
}

.upper {
    text-transform: uppercase;
    letter-spacing: .08em;
}

.form {
    margin-bottom: 0;
}

.form .form-item {
    margin-bottom: 15px;
}

.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="text"],
.form input[type="date"],
.form input[type="tel"],
.form input[type="url"],
.form input[type="password"],
.form select,
.form textarea {
    display: block;
    width: 100%;
}

.form input.width-50,
.form textarea.width-50,
.form select.width-50 {
    width: 50%;
}

.form label {
    font-size: 14px;
    color: #111;
    font-weight: normal;
    display: block;
}

.form .checkboxes label,
.form label.checkbox {
    text-transform: none;
    font-weight: normal;
    cursor: pointer;
    color: inherit;
    font-size: 15px;
}

.form .checkboxes label {
    margin-bottom: 8px;
}

.form .checkboxes label:last-child {
    margin-bottom: 0;
}

.form .checkboxes-inline {
    display: block;
}

.form .checkboxes-inline label {
    font-size: inherit;
    color: inherit;
    display: inline-block;
    margin: 0 16px 0 4px;
    text-transform: none;
    font-weight: normal;
}

.form .checkboxes-inline label:last-child {
    margin-right: 0;
}

.form span.error,
.form div.error,
.form span.success,
.form div.success {
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}

.form span.error,
.form span.success {
    margin-left: .4rem;
}

.form-inline textarea,
.form-inline select,
.form-inline input[type="email"],
.form-inline input[type="number"],
.form-inline input[type="search"],
.form-inline input[type="text"],
.form-inline input[type="date"],
.form-inline input[type="tel"],
.form-inline input[type="url"],
.form-inline input[type="password"] {
    width: auto;
    display: inline-block;
}

input {
    font-family: 'Lato', 'Arial', sans-serif;
}

.inp {
    border: 0;
    width: 100%;
    height: 34px;
    display: block;
    color: #616f77;
    font-size: 14px;
    border-radius: 0;
    background: none;
    padding: 6px 12px 6px 0;
    line-height: 1.42857143;
    transition: all 0.2s linear;
    border-bottom: 1px solid #dbe0e2;
    -webkit-appearance: none !important;
}

.inp:hover {
    border-bottom-color: #B9B9B9;
}

.inp:focus {
    border-bottom-color: #4D90FE;
}

.button {
    color: #616f77;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    border-radius: 0;
    background: #FFF;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    outline: 0 !important;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.42857143;
    border: 1px solid #cdd3d7;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.button.light-red {
    color: #FFF;
    background: #e05d6f;
    border-color: #dc485c;
}

.button.light-red:hover {
    color: #FFF;
    background: #dc485c;
    border-color: #d9364d;
}

.button.light-red:active {
    background: #d9364d;
    border-color: #d62a41;
}

.button.success {
    color: #FFF;
    background: #5cb85c;
    border-color: #4cae4c;
}

.button.success:hover {
    color: #FFF;
    background: #449d44;
    border-color: #398439;
}

.button.success:active {
    background: #3d8b3d;
    border-color: #398439;
}

input[type=checkbox], input[type=radio] {
    margin: 0;
    width: 18px;
    height: 18px;
    cursor: default;
    background: #FFF;
    border-radius: 1px;
    position: relative;
    transition: all .218s;
    box-sizing: border-box;
    vertical-align: middle;
    outline: none !important;
    -webkit-appearance: none;
    border: 1px solid #c0c0c0;
}

input[type=checkbox]:active, input[type=radio]:active {
    border-color: #666;
    background: #ebebeb
}

input[type=checkbox]:hover, input[type=radio]:hover {
    border-color: #666;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1)
}

input[type=radio] {
    border-radius: 50%;
}

input[type=radio]:checked::after {
    content: '';
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    display: block;
    background: #666;
    border-radius: 50%;
    position: relative;
}

input[type=checkbox]:checked::after {
    top: 0;
    left: 0;
    width: 8px;
    content: '';
    height: 13px;
    display: block;
    position: absolute;
    border: 2px solid transparent;
    border-right-color: #666;
    border-bottom-color: #666;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

input[type=checkbox]:focus {
    outline: none;
}

input[type=checkbox] + label,
input[type=radio] + label {
    margin: 0 0 0 2px;
}

label + input[type=checkbox],
label + input[type=radio] {
    margin-left: 10px;
}

input::-webkit-input-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}

input::-moz-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}

input:-moz-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}

input:-ms-input-placeholder {
    text-overflow: ellipsis;
    color: #000;
    opacity: .4;
}


input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}